@import "tailwindcss";

/*this is to create animation on weathercards*/
.weathercard:hover {
    animation: moveupdown 1s ease-in-out;

}

@keyframes moveupdown {

    0%,
    100% {
        transform: translateY(0);
        transform: scale(1, 1);
    }

    50% {
        transform: translateY(-10px);
        transform: scale(1.05, 1.05);
    }
}