@import "tailwindcss";

.forecards{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.currcard{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.weathercard:hover{
    animation: moveupdown 1s ease-in-out infinite;
}
@keyframes moveupdown {
    0%,100% {
        transform: translateY(0);
    }
    50%{
        transform: translateY(-10px);
    }
}